{% extends 'base.html' %}
{% block title %}Home Page{% endblock title %}
{% block content %}
<div id="main">
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/01.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/02.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/03.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/04.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/05.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/06.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/07.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/08.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/09.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/10.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/11.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="images/fulls/01.jpg" class="image"><img src="{% static 'images/thumbs/12.jpg' %}" alt="" /></a>
		<h2>Magna feugiat lorem</h2>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>

</div>



						

{% endblock content %}
