{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}
{% block content %}
<div id="main">
	<article class="thumb">
		<a href="{% static 'images/fulls/01.jpg' %}" class="image"><img src="{% static 'images/thumbs/01.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/02.jpg' %}" class="image"><img src="{% static 'images/thumbs/02.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/03.jpg' %}" class="image"><img src="{% static 'images/thumbs/03.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/04.jpg' %}" class="image"><img src="{% static 'images/thumbs/04.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/05.jpg' %}" class="image"><img src="{% static 'images/thumbs/05.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/06.jpg' %}" class="image"><img src="{% static 'images/thumbs/06.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/07.jpg' %}" class="image"><img src="{% static 'images/thumbs/07.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/08.jpg' %}" class="image"><img src="{% static 'images/thumbs/08.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/09.jpg' %}" class="image"><img src="{% static 'images/thumbs/09.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/10.jpg' %}" class="image"><img src="{% static 'images/thumbs/10.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/11.jpg' %}" class="image"><img src="{% static 'images/thumbs/11.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
	<article class="thumb">
		<a href="{% static 'images/fulls/12.jpg' %}" class="image"><img src="{% static 'images/thumbs/12.jpg' %}" alt="" /></a>
		<p>Nunc blandit nisi ligula magna sodales lectus elementum non. Integer id venenatis velit.</p>
	</article>
</div>
{% endblock content %}
