{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Register Page{% endblock title %}
{% block content %}
        <div id="main">
            <!-- Header -->
					<header id="header">
						<h1><a href="index.html"><strong>YouCars</strong> by MJaroszewski</a></h1>
						<nav>
							<ul>
								<li><a href="{% url 'home' %}"  class="icon solid fa-info-circle">Home</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
                        <div class="register">
								<section>
									<h2>Registration form</h2>
									<form method="POST" action="{% url 'register' %}" autocomplete='off'>
										{% csrf_token %}
										<div class="fields">
											<div class="field half">
												{{ form.username.errors }}
												{% render_field form.username hx-post="/check-username/" hx-target="#username-err" hx-trigger="keyup" placeholder='USERNAME' %}
												<div class="text-danger mt-2" id="username-err"></div>
											</div>
											<div class="field half">
												{{ form.password.errors }}
												{% render_field form.password placeholder='PASSWORD' %}
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Register" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>
						</div>
        </div>
{% endblock content %}
